    <!-- About Section -->
    <section id="about" class="container content-section lead">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About {{ site.title }}</h2>
              <br/>
                <p>
                    {{ site.about }}
                </p>

                <!-- <div class="">
                    <img class="img-responsive notebook-img" src="img/notebook.gif" alt="">
                </div> -->
                <br/>
              </div>
        </div>
    </section>
