
<section id="features" class="container content-section lead">
    <div class="row">
        <div class="">
            <br/><br/>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Interested?
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <!-- Content Row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Community</h3>
                        </div>
                        <div class="panel-body" style="padding-top:30px;padding-bottom:30px;">
                            <h3>
                                <span class="price"><strong>Free</strong></span>
                            </h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">AGPL Licensed</li>
                            <li class="list-group-item">Unlimited Notes</li>
                            <li class="list-group-item">Full Text Search</li>
                            <li class="list-group-item">Dashboard Apps</li>
                            <li class="list-group-item">Markdown and Latex Support</li>
                            <li class="list-group-item">Wiki Pages</li>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Teams <sup>beta</sup></h3>
                        </div>
                        <div class="panel-body" style="padding-top:30px;padding-bottom:30px;">
                            <h3>
                                <span class="price"><sup>$</sup>12<sup>99</sup></span>
                                <span class="period"><sub>/user/month</sub></span>
                            </h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" style="color:grey">Hosted</li>
                            <li class="list-group-item" style="color:grey">Unlimited Notes</li>
                            <li class="list-group-item" style="color:grey">Full Text Search</li>
                            <li class="list-group-item" style="color:grey">Dashboard Apps</li>
                            <li class="list-group-item" style="color:grey">Markdown and Latex Support</li>
                            <li class="list-group-item">Team Wiki Pages</li>
                            <li class="list-group-item">Team Projects</li>
                            <li class="list-group-item">Team Roles</li>
                            
                            <li class="list-group-item">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscribeModal">
                                        Notify Me
                                    </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Enterprise</h3>
                        </div>
                        <div class="panel-body">
                            <span class="price"><sup>$</sup>159<sup>99</sup></span>
                            <span class="period">per month</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Unlimted</strong> Users</li>
                            <li class="list-group-item"><strong>Unlimited</strong> Projects</li>
                            <li class="list-group-item"><strong>Unlimited</strong> Email Accounts</li>
                            <li class="list-group-item"><strong>10000GB</strong> Disk Space</li>
                            <li class="list-group-item"><strong>Unlimited</strong> Monthly Bandwidth</li>
                            <li class="list-group-item"><a href="#" class="btn btn-primary">Sign Up!</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height:650px">
    <!-- <div class="modal-body"> -->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdnWpyi4SMBDdxJVSvPNgHYTvbzlyXb72np0NRI2mBjyhbLZw/viewform?embedded=true" width="650" height="550" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>    <!-- </div> -->
    </div>
</div>

</section>
